node_modules/
npm-debug.log
.env
# Large video files
*.mp4
*.mov
*.avi

# Operating system files
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.ipch
*.suo
*.db
*.exe
*.ilk
*.pdb
*.tlog/
Debug/
x64/
Release/
*.vcxproj.user
*.recipe
*.log
*.obj
*.idb
.vsidx

# IDEs et éditeurs de texte
**/.idea/
**/.settings/
**/.codio
**/.guides/

# Python et Jupyter Notebook
**/__pycache__/
**/*.pyc
**/.ipynb_checkpoints/

# Fichiers de données et temporaires
**/datasets/
**/untitled*

